.media__player {
  max-width: 500px;

  iframe {
    width: 100%;
  }
}

video {
  width: 100%;
}

// hide native controls
video::-webkit-media-controls {
  display: none !important;
}

// push controls above fullscreen video
.media__controls {
  position: relative;
  z-index: 2147483647;
}

// Circle Media Player
.circle-media-player {
  display: inline-block;
  padding: 0;
  margin: 0;
  border: 0;
  line-height: 0;
  background-color: transparent;

  fill: none;
  stroke: #D7DBDC;
  stroke-width: 3;

  cursor: pointer;
  outline: 0;
}

.circle-media-player__foreground {
  stroke: #6e9541;
  transition: 350ms stroke-dashoffset;

  // position the start of the circle at the top
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.circle-media-player__background {
}

.circle-media-player__play,
.circle-media-player__pause {
  fill: #6e9541;
  stroke-width: 0;
}

.media-controls {
  display: flex;
  align-items: center;
  padding: 12px;
  background-color: #282F31;
  color: #fff;

  svg, path, polygon {
    transform-origin: 50% 50%;
  }
}

.media-control {
  margin: 0 12px;
}

.media-control--volume {
  max-width: 120px;
}

/* INPUT[type='range'] Shadow Elements Selectors *
 * ============================================= */
$defaultBrowserList : webkit, moz, ms;

// this function will be used in all this script.
@function _contains(/* List */ $haystack, /* Any */ $needle) {
    @if index($haystack, $needle){
      @return true;
    }@else{
      @return false;
    }
}

// UGLY Browsers hacks here :
// ( is there a better use for them ? ^_- )
@mixin browser-restrict-to ( $browserList... ){
  @if( length($browserList) == 0 ){
    @content;
  }
  @else{
    @if (  _contains($browserList, webkit)){
      //
      // http://browserhacks.com/#hack-f4ade0540d8e891e8190065f75acb186
      &:not(*:root) {  @content; }
    }
    @if ( _contains($browserList, moz)){
      //
      // http://browserhacks.com/#hack-8e9b5504d9fda44ec75169381b3c3157
      @supports (-moz-appearance:meterbar) { @content; }
    }
    @if ( _contains($browserList, ms)){
      // http://browserhacks.com/#hack-f1070533535a12744a0381a75087a915
      @at-root {
        _:-ms-input-placeholder,
        :root & { @content; }
      }
    }
  }
}


@mixin -range-track ( $browserList... ) {
  @if( length($browserList) == 0 ){ $browserList: $defaultBrowserList}

  @if ( _contains($browserList, webkit)){
    &::-webkit-slider-runnable-track {        @content; }
  }
  @if ( _contains($browserList, moz)){
    &::-moz-range-track {                     @content; }
  }
  @if ( _contains($browserList, ms)){
    &::-ms-track {                            @content; }
  }

}


@mixin -range-thumb ( $browserList... ) {
  @if( length($browserList) == 0 ){ $browserList: $defaultBrowserList}

  @if ( _contains($browserList, webkit)){
    &::-webkit-slider-thumb {                 @content; }
  }
  @if ( _contains($browserList, moz)){
    &::-moz-range-thumb {                     @content; }
  }
  @if ( _contains($browserList, ms)){
    &::-ms-thumb {                            @content; }
  }
}

@mixin -range-fill-lower ( $browserList... ) {
  @if( length($browserList) == 0 ){ $browserList: $defaultBrowserList}

  @if ( _contains($browserList, webkit)){
    &::-webkit-slider-thumb::before {          @content; }
  }
  @if ( _contains($browserList, moz)){
    &::-moz-range-progress {                  @content; }
  }
  @if ( _contains($browserList, ms)){
    &::-ms-fill-lower {                       @content; }
  }
}

// Usefull only on webkit.
@mixin -range-track-outline ( $browserList... ) {
  @if( length($browserList) == 0 ){ $browserList: $defaultBrowserList}

  @if ( _contains($browserList, webkit)){
    &::-webkit-slider-runnable-track::after { @content; }
  }
}

// I still didn't use them :
@mixin -range-ticks ( $browserList... ) {
  @if( length($browserList) == 0 ){ $browserList: $defaultBrowserList}

  @if ( _contains($browserList, ms)){
    &::-ms-ticks-before {                       @content; }
    &::-ms-ticks-after {                        @content; }
  }
}

@mixin -range-tooltip ( $browserList... ) {
  @if( length($browserList) == 0 ){ $browserList: $defaultBrowserList}

  @if ( _contains($browserList, ms)){
    &::-ms-tooltip {                            @content; }
  }
}


@mixin -range-thumb__margin-top($margin){
  @include -range-thumb( 'webkit' ) {
    margin-top: $margin;
    &::before {
      margin-top: ( $margin * -1 );
    }
  }
}

@mixin -range__reset ( $browserList... ) {

  @include browser-restrict-to($browserList...){
    $deep: "/deep/";
    &, & #{unquote($deep)} * {
      &, &::before, &::after {
        box-sizing: border-box;
      }
    }
    overflow: hidden;
  }

  @if( length($browserList) == 0 ){ $browserList: $defaultBrowserList}

  @if ( _contains($browserList, webkit)) or ( _contains($browserList, moz)) {
    // Webkit/Gecko :
    @include browser-restrict-to($browserList...){
      font-size: 1em;
    }
  }
  @if ( _contains($browserList, webkit)) {
  // Webkit reset :
    @include browser-restrict-to(webkit){
      -webkit-appearance: none;
      &:focus {
        outline: none;
      }
    }
  }

  @include -range-track($browserList) {
    overflow: visible;
  }

  @if ( _contains($browserList, webkit)) {
    &::-webkit-slider-runnable-track {
      -webkit-appearance: none;
      position: relative;
      z-index: 1;

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0; left: 0;
        width: inherit; height: inherit;
        border-radius: inherit;
        z-index: -1;
      }
    }
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      position: relative;
      z-index: -1;
      &::before {
        content: "";
        transform: translateX(-100%);
        display: block;
        z-index: -1;
      }
    }
  }

  @if ( _contains($browserList, moz)) {
    // Gecko reset :
    &::-moz-range-track {
      z-index: -1;
    }

    // remove dotted outline
    &::-moz-focus-outer {
      border: 0;
    }
  }

  @if ( _contains($browserList, ms)) {
    // IE reset :
    &::-ms-track {
      border: none;
      color: transparent;
    }

    // hide lower color
    &::-ms-fill-lower {
      background: transparent;
    }

    // remove tooltip
    &::-ms-tooltip {
      display: none;
    }
  }
}

input[type="range"] {
  // reset inputs to a plain state
  @include -range__reset(webkit, moz, ms);

  $track-height: 3px;
  $track-lower-color: #86b350;
  $track-upper-color: #373d3f;

  $thumb-height: 10px;
  $thumb-width: 10px;
  $thumb-color: #cdd7db;

  width: 100%;
  height: 12px;
  margin: 0;
  background-color: transparent;

  // so we can style the lower progress
  &::-webkit-slider-container {
    background-size: inherit;
  }

  @include -range-track(webkit, moz, ms) {
    width: 100%;
    height: $track-height;
    border: 0;
    cursor: pointer;

    background: {
      color: $track-upper-color;
      image: linear-gradient(#86b350, #86b350);
      size: inherit;
      repeat: no-repeat;
    }

    &:active {
      cursor: grabbing;
    }
  }

  @include -range-thumb(webkit, moz, ms) {
    width: $thumb-width;
    height: $thumb-height;
    border: 0;
    border-radius: 50%;
    background-color: $thumb-color;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }

  @include -range-thumb(webkit) {
    position: relative;
    top: -4px;
  }
}
